*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }

  .appCard_wrap{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    max-width: 1000px;
    margin: auto;
  }
  .card_div{
      width: 140px;
      height: 228;
    
  }
  .img_div{
    height: 178px;
    width: 140px;
    border-radius: 8px;
    background-color:   #FAFAFA;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .card_img{
    background-color:   #FAFAFA;
  }
  .category_div{
    margin-left: 2rem;
  }
  .name_div{
    margin-left: 2rem;
  }