.uploadScreen_Wrapper {
  max-width: 1440px;
  margin: auto;
  padding: 25px 81px 0px 87px;
}
.uploadS_heading {
  font-weight: 700;
  font-size: 34px;
  line-height: 40px;
  color: #000000;
}
.uploadS_content_box {
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
}
.uploadS_content_div {
  display: flex;
}
.uploadS_content__inner_div {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  margin-top: 8px;
}
.upload_screen_name {
  width: 222px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 474px;
  background-color: #f4f4f4;
}
.screen_name_div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 206px;
  height: 48px;
  margin-top: 8px;
  cursor: pointer;
  border-radius: 8px;
  padding: 0px 18px 0px 8px;
  /* background-color: white; */
}
.screen_name_div:hover {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 206px;
  height: 48px;
  margin-top: 8px;
  cursor: pointer;
  border-radius: 8px;
  padding: 0px 18px 0px 8px;
  background-color: white;
}
.upload_filter_sec {
  margin-left: 56px;
}
.upload_image_size {
  width: 193px;
  height: 423px;
}
.right_section_upload {
  background-color: #f4f4f4;
  display: flex;
  margin-left: 15px;
  padding: 21px 48px 21px 24px;
}
.uploadS_filter_wrapper {
  background-color: white;
  width: 714px;
  height: 433px;
}
.uploadS_m_A {
  width: 142px;
  height: 28px;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
.uploadS_inner_heading {
  color: #161618;
  font-weight: 700;
  line-height: 40px;
  font-size: 34px;
  margin-top: 8px;
}
.upload_ux_ui_tag {
  font-weight: 500;
  line-height: 14px;
  font-size: 11px;
  color: #161618;
  margin-top: 12px;
}
.uploads_sound {
  color: #8a8a8b;
  font-weight: 400;
  line-height: 14px;
  font-size: 12px;
  margin-top: 12px;
}
.upload_edit_app {
  width: 144px;
  height: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
  line-height: 18px;
  border-radius: 24px;
  border: 1px solid #c5c5c5;
}
.upload_delete_app {
  width: 111px;
  height: 40px;
  background-color: #da1414;
  color: white;
  margin-top: 48px;
  justify-content: center;
  align-items: center;
  display: flex;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
  line-height: 18px;
  border-radius: 24px;
  /* border: 1px solid #c5c5c5; */
}
.colpas_delete_app {
  width: 111px;
  height: 40px;
  background-color: #da1414;
  color: white;
  justify-content: center;
  align-items: center;
  display: flex;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
  line-height: 18px;
  border-radius: 24px;
  /* border: 1px solid #c5c5c5; */
}
.upload_hero_btn_wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.delete_icon {
  margin-right: 10px;
}
.uplaod_feature_wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 39px;
}
.uploads_add_feature {
  color: #161618;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
}
.upload_save_btn {
  width: 65px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #c5c5c5;
  border-radius: 24px;
  color: #161618;
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  cursor: pointer;
  margin-right: 11px;
}
.upload_publish_btn {
  width: 84px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid #c5c5c5; */
  border-radius: 24px;
  color: #161618;
  font-size: 14px;
  background-color: #5097f3;
  color: white;
  cursor: pointer;
  line-height: 18px;
  font-weight: 700;
  margin-right: 11px;
}
.upload_hero_seprator {
  border: 1px solid #161618;
  height: 1px;
  width: 100%;
  margin-bottom: 37px;
  margin-top: 33px;
}
.collapse {
  margin-top: 23px;
}

.colapse_div {
  display: flex;
  justify-content: space-between;

  padding-bottom: 12px;
}
.uploadS_feature_counter {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  color: #8a8a8b;
}
.colaps_add_feature {
  width: 117px;
  cursor: pointer;
  height: 40px;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  color: #161618;
  margin-top: 40px;
  margin-bottom: 84px;
  border: 1px solid #c5c5c5;
}
.custom-file-label {
  margin: 217px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  width: 141px;
  cursor: pointer;
  height: 40px;
  border: 1px solid #c5c5c5;
}
.upload_file_wrapper {
  display: flex;
  justify-content: center;

  align-items: center;
  background-color: #fafafa;
}
.uploadS_feature_name {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  color: #161618;
  margin-left: 35px;
}
.colapse_v_chap {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #8a8a8b;
}
.colapse_v_chap1 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}
.colapse_v_chap_screen {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #8a8a8b;
  margin-left: 38px;
}
.toggle_btn {
  width: 56px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #f4f4f4;
  border-radius: 24px;
  cursor: pointer;
}
.colaps_open_feature_counter {
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  position: absolute;
  top: -25px;
  font-weight: 500;
  margin-bottom: 4px;
}
.colaps_input_wrapper {
  width: 299px;
  height: 48px;
  border: 1px solid #c5c5c5;
  border-radius: 8px;
}
.colaps_input {
  outline: none !important;
  border: none;
  width: 80%;
  margin-left: 3px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #8a8a8b;
  height: 100%;
  padding-left: 16px;
}
.colaps_screen_change {
  display: flex;
  background-color: #f4f4f4;
  width: 260px;
  height: 48px;
  border-radius: 8px;
}
.modal-content {
  width: 450px;
  height: 236px;
  border-radius: 16px !important;
}
.modal_heading {
  margin-top: 0px;
  padding: 15px 24px 0px 24px;
  font-size: 24px;
}
.modal_footer_wrappper {
  display: flex;
  justify-content: space-between;
  padding: 0px 24px;
  margin-top: 11px;
}
.modal_cancel {
  color: #8a8a8b;
  font-weight: 700;
  cursor: pointer;
  font-size: 14px;
  line-height: 18px;
}
.upload_filter_counter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  border-radius: 10px;
  margin-left: 10px;
  color: #fbfefd;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  height: 18px;
  background-color: #5097f3;
}
.modal_delte_btn {
  color: #da1414;
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  cursor: pointer;
}
.modal-text {
  margin-top: 48px;
  padding: 0px 46px 0px 40px;
  font-size: 14px;
  line-height: 20px;
  width: 90%;

  padding-bottom: 8px;
  font-weight: 400;
}
.heading_seprator {
  border: 1px solid #f4f4f4;
  width: 90%;
  margin-top: 8px !important;
  margin: auto;
}
.heading_seprator1 {
  border: 1px solid #f4f4f4;
  width: 90%;
  margin-top: 8px !important;
}
.screen_upload_colapse_wrapper {
  display: flex;
}
@media screen and (max-width: 1000px) {
  .uploadScreen_Wrapper {
    max-width: 1440px;
    margin: auto;
    padding: 25px 16px 0px 16px;
  }
  .uploadS_feature_counter {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    color: #8a8a8b;
  }
  .uploadS_feature_name {
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    color: #161618;
    margin-left: 25px;
  }
  .colapse_v_chap {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #8a8a8b;
  }
  .colapse_v_chap1 {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
  }
  .colapse_v_chap_screen {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #8a8a8b;
    margin-left: 28px;
  }
  .toggle_btn {
    width: 46px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #f4f4f4;
    border-radius: 24px;
    cursor: pointer;
  }
}
@media screen and (max-width: 768px) {
  .uploadS_feature_counter {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #8a8a8b;
  }
  .uploadS_feature_name {
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    color: #161618;
    margin-left: 20px;
  }
  .colapse_v_chap {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #8a8a8b;
  }
  .colapse_v_chap1 {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
  }
  .colapse_v_chap_screen {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #8a8a8b;
    margin-left: 23px;
  }
  .toggle_btn {
    width: 40px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #f4f4f4;
    border-radius: 24px;
    cursor: pointer;
  }
}
@media screen and (max-width: 1410px) {
  .upload_filter_sec {
    margin-left: 46px;
  }
}
@media screen and (max-width: 1400px) {
  .right_section_upload {
    background-color: #f4f4f4;
    display: flex;
    flex-wrap: wrap;
    margin-left: 15px;
    padding: 21px 16px 21px 16px;
  }
  .upload_filter_sec {
    margin-left: 0px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
}
@media screen and (max-width: 1130px) {
  .screen_upload_colapse_wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  .right_section_upload {
    background-color: #f4f4f4;
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    gap: 5px;
    flex-wrap: wrap;
    margin-left: 0px;
    padding: 21px 16px 21px 16px;
  }
}
@media screen and (max-width: 550px) {
  .uploadS_heading {
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    line-height: 40px;
    color: #000000;
  }
  .uploadS_content_box {
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    padding-top: 32px;
  }
  .upload_hero_btn_wrapper {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;
  }
  .upload_delete_app {
    width: 111px;
    height: 40px;
    background-color: #da1414;
    color: white;
    margin-top: 0px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
    line-height: 18px;
    border-radius: 24px;
    border: 1px solid #c5c5c5;
  }
  .uploadS_inner_heading {
    color: #161618;
    font-weight: 700;
    line-height: 40px;
    font-size: 30px;
    margin-top: 8px;
  }
}
@media screen and (max-width: 570px) {
  .uploadS_feature_counter {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #8a8a8b;
  }
  .uploadS_feature_name {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    color: #161618;
    margin-left: 15px;
  }
  .colapse_v_chap {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #8a8a8b;
  }
  .colapse_v_chap1 {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
  }
  .colapse_v_chap_screen {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #8a8a8b;
    margin-left: 0px;
  }
  .toggle_btn {
    width: 36px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #f4f4f4;
    border-radius: 24px;
    cursor: pointer;
  }
}
