* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.hero_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.hero-section {
  height: auto;
  width: 100%;
  background: linear-gradient(97.3deg, #d3e5fc 28.65%, #d8f2e8 79.17%);
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
/* .container-fluid {
  display: flex;
  padding-left: 0 !important;
  padding-right: 0 !important;
  width: 15rem;
  padding-top: 5px;
} */
.search_btn {
  height: 40px;
  width: 110px;
  background-color: rgba(22, 22, 24, 1);
  color: rgba(255, 255, 255, 1);
  border-radius: 8px;
  border: none;
}
.submitsearch {
  padding-top: 3px;
  border-radius: 1px;
  cursor: pointer;
}

#searchInput {
  width: 25rem;
  height: 55px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  background-color: white;
  background-image: url("https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/search-24.png");

  background-position: 7px 15px;
  background-repeat: no-repeat;
  padding: 8px 8px 8px 40px;
  -webkit-transition: width 0.8s ease-in-out;
  transition: width 0.8s ease-in-out;
  outline: none;
  opacity: 0.9;
}



.search_div {
  margin-top: 3rem;
  height: 56px;
  width: 100%;
  border-radius: 8px;
  border: none;
  background-color: white;
}
.ui_div {
  margin-top: 10px;
}
.screens_img {
  margin-top: 10px;
  height: 25px;
  width: 25px;
}
.icon_play {
  color: white;
  margin-right: 5px;
  margin-top: -2px;
}
.heading_1 {
  width: 448px;
  margin-top: 56px;
  font-family: Space Grotesk;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 40px;
  display: flex;
  align-items: center;
  color: #161618;
}
.heading_2 {
  width: 28rem;
  margin-top: 24px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #161618;
}
.mask_img {
  width: 100%;
  height: 28rem;
  margin-top: 2rem;
  object-fit: contain;
}
.search_buttonsdiv {
  margin-top: 3px;
  display: flex;
  /* margin-right: 5px; */
}
.vertical_line{
  border-left:1px solid #F4F4F4;
  height:46px;
  padding: 3px;
  margin-top: 5px;
}
.div_wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 5px;
}
#dis_non{
  display: flex;
}

.disp_non{
  display: none;
}


@media only screen and (min-width: 300px) and (max-width: 600px) {
  
  .disp_non{
    display: block;
  }
  #dis_non{
    display: none;
  }
  #show_upper_on_body{
    z-index: 10000ss;
  }
  .mob_col {
    display: flex;
    flex-direction: column-reverse;
    margin: 0px !important;
    justify-content: center;
    align-items: center;
  }
  .search_box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 2rem;
  }
  .hero-section {
    height: auto;
    width: 100%;
    background: linear-gradient(97.3deg, #d3e5fc 28.65%, #d8f2e8 79.17%);
    padding: 0px 0px;
  }
  .hero_desc {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .headings_div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .heading_1 {
    width: 100%;
    font-family: Space Grotesk;
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 40px;
    color: #161618;
    text-align: center;
  }
  .heading_2 {
    width: 100%;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 2%;
    color: #161618;
    text-align: center;
  }

#searchInput {
  width: 10rem;
  height: 55px;
  border: none;
  border-radius: 10px;
  background-color: white;
  background-image: url("https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/search-24.png");
  background-position: 10px 15px;
  background-repeat: no-repeat;
  padding: 8px 8px 8px 40px;
  transition: width 0.8s ease-in-out;
  outline: none;
  opacity: 0.9;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
  .mask_img {
    width: 102%;
    margin-left: -12px;
    height: 27rem;
    margin-top: 2rem;
    display: flex;
    overflow: hidden;
    object-fit: none;
  }
  .icon_play {
    color: white;
    margin-right: 3px;
    margin-top: -2px;
  }

  .ui_div {
    margin-top: 12px;
    font-size: 14px;
    margin-right: 4px;
  }
  .screens_img {
    margin-top: 10px;
    height: 25px;
    width: 25px;
  }
  .hero-section {
    height: auto;
    width: 100%;
    background: linear-gradient(97.3deg, #d3e5fc 28.65%, #d8f2e8 79.17%);
    padding: 0 0 0 0;
    display: flex;
    flex-direction: column-reverse !important;
  }
  .search_div {
    margin-top: 3rem;
    height: 56px;
    width: 100%;
    border-radius: 8px;
    border: none;
    background-color: white;
  }
  .ux_hero_txt_btn {
    font-size: 11px;
  }
  .search_buttonsdiv {
    margin-top: 5px;
    display: flex;
    margin-right: 0px;
    margin-left: 5px;
  }
  .icon{
    font-weight: bolder;
  }
}

@media only screen and (min-width: 600px) and (max-width: 992px) {
  .hero_desc {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mob_col {
    display: flex;
    flex-direction: column-reverse;
    margin: 0px !important;
    justify-content: center;
    align-items: center;
  }
  #searchInput {
    width: 14rem;
    height: 55px;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    background-color: white;
    background-image: url("https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/search-24.png");
    background-position: 10px 15px;
    background-repeat: no-repeat;
    padding: 8px 8px 8px 40px;
    transition: width 0.8s ease-in-out;
    outline: none;
    opacity: 0.9;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
  .search_div {
    margin-top: 3rem;
    height: 56px;
    width: 100%;
    border-radius: 8px;
    border: none;
    background-color: white;
  
  }
  .hero-section {
    height: auto;
    width: 100%;
    background: linear-gradient(97.3deg, #d3e5fc 28.65%, #d8f2e8 79.17%);
    padding: 0px 0px;
  }
 .search_box{
    margin-bottom: 2rem;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .mask_img {
    width: 100%;
    height: 23rem;
    margin-top: 5rem;
  }
  .hero-section {
    height: auto;
    width: 100%;
    background: linear-gradient(97.3deg, #d3e5fc 28.65%, #d8f2e8 79.17%);

    padding: -1rem 15%;
  }
  #searchInput {
    width: 14rem;
    height: 55px;
    border: none;
    border-radius: 10px;

    background-color: white;
    background-image: url("https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/search-24.png");
    background-position: 10px 15px;
    background-repeat: no-repeat;
    padding: 8px 8px 8px 40px;
    transition: width 0.8s ease-in-out;
    outline: none;
    opacity: 0.9;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
}

@media only screen and (min-width: 1200px) and (max-width: 1400px) {
  #searchInput {
    width: 16rem;
    height: 55px;
    border: none;
    border-radius: 10px;
    background-color: white;
    background-image: url("https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/search-24.png");
    background-position: 0px 15px;
    background-repeat: no-repeat;
    padding: 8px 8px 8px 25px;
    transition: width 0.8s ease-in-out;
    outline: none;
    opacity: 0.9;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
}