.videoplayer_container {
  width: 100%;
  height: calc(100vh - 64px);
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.leftaside_wrapper {
  width: 25%;
  height: 100%;
  background-color: #ffffff;
  /* overflow-y: scroll; */
}
.videoplayer_wrapper {
  width: 100%;
  margin-left: 10px;
  height: 100%;
  background-color: #f4f4f4;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.rightaside_wrapper {
  width: 33%;
  height: 100%;
  background-color: #e5e5e5;
  overflow-y: scroll;
}
.sc_videoplayer_btn_wrapper {
  display: flex;
  border-bottom: 2px solid #e5e5e5;
}
.sc_ux_videos {
  width: 50%;
  height: 40px;
  background-color: #f4f4f4;
  /* background-color: red; */

  display: flex;
  justify-content: center;
  align-items: center;
}
.sc_ux_videos_na {
  background-color: #ffffff;
  width: 50%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sc_ui_videos {
  width: 50%;
  height: 40px;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sc_ui_videos_na {
  width: 50%;
  height: 40px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sc_ui_videos_right {
  width: 50%;
  height: 40px;
  background-color: #f4f4f4;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.sc_ui_videos_right_na {
  width: 50%;
  height: 40px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sc_ux_videos_right {
  width: 50%;
  height: 40px;
  background-color: #f4f4f4;
  /* background-color: red; */

  display: flex;
  justify-content: center;
  align-items: center;
}
.sc_ux_videos_right_na {
  width: 50%;
  height: 40px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sc_la_ux_txt {
  font-family: Space Grotesk;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #161618;
}
.sc_la_ui_txt {
  font-family: Space Grotesk;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #505052;
}

.sc_video_time_duration_details {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 0px;
}
.sc_left_aside_time_desc {
  width: 90%;
  min-height: 32px;
  /* background-color: #edf4fe; */
  border-radius: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.sc_la_td_bg {
  background-color: #edf4fe;
  color: #5097f3 !important;
}

.sc_la_time_txt {
  font-family: Space Grotesk;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #505052;
  padding-left: 8px;
}

.sc_la_desc_txt {
  font-family: Space Grotesk;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  /* color: #5097f3; */
  padding-left: 16px;
  flex-wrap: wrap;
}

.box_card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px 10px 0px;
}
.right_aside_card_wrapper {
  width: 92%;
  height: auto;
  background-color: #fafafa;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding: 10px 16px;
}
.right_aside_card_inner_items {
  display: flex;
  justify-content: space-between;
}

.right_aside_imgbig {
  display: flex;
}
.right_aside_card_video_details {
  display: flex;
  flex-direction: column;
  padding-left: 16px;
}

.right_aside_card_thumbnail_items {
  padding-top: 9px;
}
.tidal_txt {
  padding-left: 4px;
  font-family: Space Grotesk;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #8a8a8b;
}
.right_aside_video_time_wrapper {
  min-width: 40px;
  max-width: 60px;
  min-height: 22px;
  border-radius: 4px;
  padding-left: 4px;
  background-color: #505052;
  display: flex;
  align-items: center;
  align-self: flex-end;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.ra_card_txt_signup {
  font-family: Space Grotesk;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #0b0b0c;
}
.ra_card_video_time_txt {
  font-family: Space Grotesk;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #ffffff;
}

.react_player_wrapper {
  width: 100%;
  height: calc(100% - 86px);
  position: relative;
}
.expand_vp_wrapper {
  display: flex;
  position: absolute;
  top: 24px;
  left: 16px;
  z-index: 10;
  width: 32px;
  height: 32px;
  border-radius: 30px;
  background: #ffffff;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.13);
  cursor: pointer;
}

.plus_icons_wp {
  display: flex;
  position: absolute;
  top: 24px;
  right: 16px;
  z-index: 10;
  width: 32px;
  height: 32px;
  border-radius: 30px;
  background: #ffffff;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.13);
  cursor: pointer;
}

.download_icons_wp {
  display: flex;
  position: absolute;
  top: 66px;
  right: 16px;
  z-index: 10;
  width: 32px;
  height: 32px;
  border-radius: 30px;
  background: #ffffff;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.13);
  cursor: pointer;
}

.copy_icons_wp {
  display: flex;
  position: absolute;
  top: 110px;
  right: 16px;
  z-index: 10;
  width: 32px;
  height: 32px;
  border-radius: 30px;
  background: #ffffff;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.13);
  cursor: pointer;
}
.react_player_controls_wrapper {
  min-width: calc(100% - 10px);
  /* height: 2% ; */
  background-color: #f4f4f4;
  /* background-color: red; */
}
/* .progress {
  height: 0.5rem !important;
}
.pb_wrapper {
  background-color: #fff !important;
}

.progress-bar {
  background-color: #c5c5c5 !important;
} */
.controls_bottom_items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 10px;
  cursor: pointer;
}
.right_controls_items {
  padding: 0px 10px;
  display: flex;
}
.pspeed_img {
  width: 60%;
}
.app_page_select_box {
  height: 40px;
  width: 100px;
  border: 1px solid black;
}

.fscreen_img {
  padding: 0px 10px;
}
.controls_button_styling {
  border: none;
  margin: 0px 10px;
}
.pad_lft {
  padding-left: 6px;
}

.video_btn {
  border: none;
  background: none;
  cursor: pointer;
}
.lft_aside_links {
  border: none;
  background: none;
  cursor: pointer;
}

.openmenue_icon {
  width: 26px;
  height: 26px;
  align-self: center;
  margin-left: 3px;
}
.mv_sc_player_btn {
  display: none;
}
.cards_imgs {
  display: none;
}

.dis {
  display: none;
}

.popoover_wrapper {
  position: absolute;
  right: 0px;
  top: 60px;
  background-color: red;
  width: 282px;
  height: 338px;
  border-radius: 8px;
  background: #ffffff;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.15);
  z-index: 10;
  overflow-y: scroll;
}
.UI_Secreen_popoover_wrapper {
  position: absolute;
  left: -25%;
  top: 40px;
  background-color: red;
  width: 282px;
  height: 388px;
  padding: 0px 16px 0px 16px;
  border-radius: 8px;
  background: #ffffff;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.15);
  z-index: 10;
  overflow-y: scroll;
  padding-bottom: 10px;
}
@media screen and (max-width: 550px) {
  .UI_Secreen_popoover_wrapper {
    display: none !important;
  }
}
.checkbox_wrapper {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background-color: #f4f4f4;
  margin: 16px 12px 12px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Ui_Secreen_checkbox_wrapper {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.checkbox_wrapper_enable {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background-color: #5097f3;
  margin: 16px 12px 12px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Ui_Secreen_checkbox_wrapper_enable {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background-color: #5097f3;
  /* margin: 16px 12px 12px 24px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.collection_checkbox_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: -1;
}
.UI_Secreen_collection_checkbox_wrapper {
  display: flex;
  align-items: center;
}
.Ui_Secreen_collection_inner_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 12px 16px 12px 16px;
}
.Ui_Secreen_collection_inner_wrapper:hover .Ui_Secreen_checkbox_wrapper {
  background-color: white;
}
.Ui_Secreen_collection_inner_wrapper:hover {
  background-color: #f4f4f4;
  border-radius: 8px;
}
.play_vedio_add_collection {
  display: none;
}

.Ui_Secreen_collection_inner_wrapper:hover > div > .play_vedio_add_collection {
  display: block !important;
  z-index: 99;
}

.collection_txt {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #161618;
}

.add_collection_btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 148px;
  height: 40px;
  background: #ffffff;
  border: 2px solid #f4f4f4;
  box-sizing: border-box;
  border-radius: 24px;
}
.save_collection_btn {
  width: 64px;
  height: 40px;
  border-radius: 24px;
  padding: 8px;
  background-color: #8a8a8b;
  display: flex;
  justify-content: center;
  align-items: center;
}
.save_coll_enable_btn {
  background-color: #5097f3;
  width: 64px;
  height: 40px;
  border-radius: 24px;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.save_collection_btn_wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  background-color: transparent;
  position: sticky;
  bottom: 0px;
  cursor: pointer;
  padding-bottom: 10px;
}
.UI_Secreen_save_collection_btn_wrapper {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 40px;
  background-color: transparent;
  position: sticky;
  /* bottom: 0px !important; */
  top: 1000px;
  /* right: 10px; */
  cursor: pointer;
}

.nc_txt {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #161618;
}
.save_txt {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #f6fafe;
}

.confirmation_wrapper {
  position: absolute;
  bottom: -2rem;
  left: 40%;
  width: 320px;
  height: 68px;
  background-color: #287d3c;
  border-radius: 8px;
  padding: 6px 16px 6px 16px;
  z-index: 30;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.UI_Secreen_confirmation_wrapper {
  position: absolute;
  bottom: 24px;
  left: 41%;
  width: 320px;
  height: 68px;
  background-color: #287d3c;
  border-radius: 8px;
  padding: 6px 16px 6px 16px;
  z-index: 30;
  display: flex;
  justify-content: space-between !important;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 550px) {
  .UI_Secreen_confirmation_wrapper {
    position: absolute;
    bottom: 0;
    left: 12% !important;
    width: 280px;
    height: 68px;
    background-color: #287d3c;
    border-radius: 8px;
    padding: 6px 16px 6px 16px;
    z-index: 30;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
.undo_btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 85px;
  height: 32px;
  border-radius: 24px;
  background-color: #ffffff;
  cursor: pointer;
}

.alert_txt {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-left: 13px;
  color: #ffffff;
}

.undo_txt {
  font-family: Space Grotesk;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #161618;
  cursor: pointer;
}

.link_copy_wrapper {
  position: absolute;
  bottom: -2rem;
  left: 40%;
  width: 320px;
  height: 48px;
  background-color: #287d3c;
  border-radius: 8px;
  padding: 6px 16px 6px 16px;
  z-index: 30;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.mbl_cards_box {
  display: grid;
  grid-template-columns: 150px;
  width: fit-content;
  margin: 2rem auto;
  position: relative;
}
.mbl_cards_box img {
  width: 100%;
  object-fit: contain;
  margin: 0 auto;
  height: -webkit-fill-available;
}
.mbl_card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  gap: 0.5rem;
  margin: 1rem auto;
}
.card_title {
  font-size: large;
}

.pl_icon_cards_right {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  opacity: 0.5;
  background-color: #161618;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8rem;
  left: 4rem;
}
.ac_icon_cards_right {
  width: 24px;
  height: 24px;
  border-radius: 24px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0.7rem;
  right: 0.5rem;
}

.time_right_wrapper_cards {
  min-width: 33px;
  height: 19px;
  border-radius: 5px;
  position: absolute;
  bottom: 13%;
  right: 6px;
  background-color: #161618;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.time_right_wrapper_cards_txt {
  color: #ffffff;
  font-size: 11px;
  font-weight: 500;
}

.dis_none_mv_navbar {
  display: none;
}

/* Ipad and Mobile views  */

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .leftaside_wrapper {
    width: 49%;
    height: 100%;
    background-color: #ffffff;
    /* overflow-y: scroll; */
  }
  .rightaside_wrapper {
    width: 50%;
    height: 100%;
    background-color: #e5e5e5;
    overflow-y: scroll;
  }

  .link_copy_wrapper {
    position: absolute;
    bottom: -2rem;
    left: 40%;
    width: 320px;
    height: 48px;
    background-color: #287d3c;
    border-radius: 8px;
    padding: 6px 16px 6px 16px;
    z-index: 30;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1026px) {
  .dis {
    display: block;
  }
  .ipad_view_container {
    margin-top: 12px;
  }
  .rightaside_wrapper {
    display: none;
  }
  .rightaside_wrapper_ipad {
    width: 100%;
    height: 60vh;
    /* background-color: red; */
    overflow-y: scroll;
    /* display: none; */
  }
  .leftaside_wrapper {
    width: 49%;
    height: 100%;
    background-color: #ffffff;
    /* overflow-y: scroll; */
  }

  .img_size {
    width: 50% !important;
    align-self: center;
    padding-top: 20px;
  }
  .cards_ipad {
    border: none !important;
    border-radius: 0px !important;
  }
  .cards_title_txt {
    text-align: center;
    padding-top: 10px;
  }

  .mbl_cards_box {
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-gap: 7rem;
    width: fit-content;
    margin: 2rem auto;
  }
  .mbl_cards_box img {
    width: 100%;
    object-fit: contain;
    margin: 0 auto;
    height: -webkit-fill-available;
  }
  .mbl_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    gap: 0.5rem;
  }
  .card_title {
    font-size: large;
  }
  .u_modal_cards_mv {
    width: 100%;
    height: -webkit-fill-available;
    background-color: rgba(0, 0, 0, 0.603);
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
  }
  .u_plus_wrapper_mdl {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 25%;
    right: 40%;
    z-index: 10;
    width: 32px;
    height: 32px;
    border-radius: 30px;
    background: #ffffff;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.13);
    cursor: pointer;
    margin-bottom: 50px;
  }
  .u_down_wrapper_mdl {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40%;
    right: 40%;
    z-index: 10;
    width: 32px;
    height: 32px;
    border-radius: 30px;
    background: #ffffff;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.13);
    cursor: pointer;
    margin-bottom: 50px;
  }
  .u_cpy_wrapper_mdl {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 55%;
    right: 40%;
    z-index: 10;
    width: 32px;
    height: 32px;
    border-radius: 30px;
    background: #ffffff;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.13);
    cursor: pointer;
  }
  .popoover_wrapper {
    position: absolute;
    right: 1rem;
    top: 4rem;
    width: 282px;
    height: 400px;
    border-radius: 8px;
    background: #ffffff;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.15);
    z-index: 10;
    overflow-y: scroll;
  }

  .save_collection_btn_wrapper {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 40px;
    background-color: transparent;
    position: sticky;
    bottom: 0px;
    /* top: 30rem; */
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: 7rem;
  }

  .confirmation_wrapper {
    position: absolute;
    bottom: -4rem;
    left: 28%;
    width: 320px;
    height: 68px;
    background-color: #287d3c;
    border-radius: 8px;
    padding: 6px 16px 6px 16px;
    z-index: 30;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .link_copy_wrapper {
    position: absolute;
    bottom: -2rem;
    left: 30%;
    width: 320px;
    height: 48px;
    background-color: #287d3c;
    border-radius: 8px;
    padding: 6px 16px 6px 16px;
    z-index: 30;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .sc_ui_videos_ipro {
    width: 50%;
    height: 40px;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sc_ui_videos_ipro_na {
    width: 50%;
    height: 40px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sc_ux_videos_ipro {
    width: 50%;
    height: 40px;
    background-color: #f4f4f4;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sc_ux_videos_ipro_na {
    width: 50%;
    height: 40px;
    background-color: #ffffff;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
  .dis {
    display: block;
  }
  .ipad_view_container {
    margin-top: 12px;
  }
  .rightaside_wrapper {
    display: none;
  }
  .rightaside_wrapper_ipad {
    width: 100%;
    height: 60vh;
    /* background-color: red; */
    overflow-y: scroll;
    /* display: none; */
  }
  .leftaside_wrapper {
    width: 49%;
    height: 100%;
    background-color: #ffffff;
    /* overflow-y: scroll; */
  }

  .img_size {
    width: 50% !important;
    align-self: center;
    padding-top: 20px;
  }
  .cards_ipad {
    border: none !important;
    border-radius: 0px !important;
  }
  .cards_title_txt {
    text-align: center;
    padding-top: 10px;
  }

  .mbl_cards_box {
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-gap: 3rem;
    width: fit-content;
    margin: 2rem auto;
  }
  .mbl_cards_box img {
    width: 100%;
    object-fit: contain;
    margin: 0 auto;
    height: -webkit-fill-available;
  }
  .mbl_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    gap: 0.5rem;
  }
  .card_title {
    font-size: large;
  }
  .u_modal_cards_mv {
    width: 100%;
    height: -webkit-fill-available;
    background-color: rgba(0, 0, 0, 0.603);
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
  }
  .u_plus_wrapper_mdl {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 25%;
    right: 40%;
    z-index: 10;
    width: 32px;
    height: 32px;
    border-radius: 30px;
    background: #ffffff;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.13);
    cursor: pointer;
    margin-bottom: 50px;
  }
  .u_down_wrapper_mdl {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40%;
    right: 40%;
    z-index: 10;
    width: 32px;
    height: 32px;
    border-radius: 30px;
    background: #ffffff;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.13);
    cursor: pointer;
    margin-bottom: 50px;
  }
  .u_cpy_wrapper_mdl {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 55%;
    right: 40%;
    z-index: 10;
    width: 32px;
    height: 32px;
    border-radius: 30px;
    background: #ffffff;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.13);
    cursor: pointer;
  }

  .popoover_wrapper {
    position: absolute;
    right: 1rem;
    top: 5rem !important;
    width: 282px;
    height: 438px;
    border-radius: 8px;
    background: #ffffff;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.15);
    z-index: 10;
    overflow-y: scroll;
  }

  .save_collection_btn_wrapper {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 40px;
    background-color: transparent;
    position: sticky;
    bottom: 0px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  .confirmation_wrapper {
    position: absolute;
    bottom: -4rem;
    left: 28%;
    width: 320px;
    height: 68px;
    background-color: #287d3c;
    border-radius: 8px;
    padding: 6px 16px 6px 16px;
    z-index: 30;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .link_copy_wrapper {
    position: absolute;
    bottom: -2rem;
    left: 25%;
    width: 320px;
    height: 48px;
    background-color: #287d3c;
    border-radius: 8px;
    padding: 6px 16px 6px 16px;
    z-index: 30;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .sc_ui_videos_ipro {
    width: 50%;
    height: 40px;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sc_ui_videos_ipro_na {
    width: 50%;
    height: 40px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sc_ux_videos_ipro {
    width: 50%;
    height: 40px;
    background-color: #f4f4f4;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sc_ux_videos_ipro_na {
    width: 50%;
    height: 40px;
    background-color: #ffffff;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 600px) {
  .dis_nav_bar {
    display: none;
  }
  .dis {
    display: block;
  }
  .dis_none_mv_navbar {
    display: block;
  }
  .dis_icon_mv {
    display: none;
  }
  .dis_none_mbl_view {
    display: none;
  }
  .mv_navbar_row_wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .mv_sc_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
  .mv_sc_player_btn {
    display: block;
    position: absolute;
    top: 5rem;
    left: 10px;
    border: none;
    background: none;
    width: 32px;
    height: 32px;
    border-radius: 30px;
    background: #ffffff;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.13);
  }
  .rightaside_wrapper {
    display: none;
  }
  .leftaside_wrapper {
    width: 49%;
    height: 100%;
    background-color: #ffffff;
    /* overflow-y: scroll; */
    display: none;
  }
  .offcanvas-start {
    top: 0;
    left: 0;
    width: 250px !important;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    transform: translateX(-100%);
  }
  .btn-close {
    box-sizing: content-box;
    width: 2em !important;
    height: 2em !important;
    padding: 0.25em 0.25em;
    color: #000;
    background: transparent url("../../assets//soundcloudimages/expand.png")
      center/3em auto no-repeat !important;
    border: 0;
    border-radius: 0.25rem;
    opacity: 0.5;
  }
  .crd_grp_mv {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }
  .mv_cards_top_btn {
    display: block;
    width: 100%;
    height: 40px;
    margin-bottom: 30px;
  }
  .cards_imgs {
    display: block;
    overflow-y: scroll;
    height: 70vh;
    width: 100%;
    padding: 10px 20px;
  }
  .img_size {
    width: 30% !important;
    align-self: center;
    padding-top: 20px;
  }
  .cards_title_txt {
    text-align: center;
    padding-top: 10px;
  }
  .cards_ipad {
    border: none !important;
    border-radius: 0px !important;
  }

  .mbl_cards_box {
    display: grid;
    grid-template-columns: 150px 150px;
    grid-gap: 2rem;
    width: fit-content;
    margin: 2rem auto;
  }

  .mbl_cards_box img {
    width: 100%;
    object-fit: contain;
    margin: 0 auto;
    height: -webkit-fill-available;
  }
  .mbl_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    gap: 0.5rem;
  }
  .u_modal_cards_mv {
    width: 100%;
    height: -webkit-fill-available;
    background-color: rgba(0, 0, 0, 0.603);
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
  }
  .u_plus_wrapper_mdl {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 25%;
    right: 40%;
    z-index: 10;
    width: 32px;
    height: 32px;
    border-radius: 30px;
    background: #ffffff;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.13);
    cursor: pointer;
    margin-bottom: 50px;
  }
  .u_down_wrapper_mdl {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40%;
    right: 40%;
    z-index: 10;
    width: 32px;
    height: 32px;
    border-radius: 30px;
    background: #ffffff;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.13);
    cursor: pointer;
    margin-bottom: 50px;
  }
  .u_cpy_wrapper_mdl {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 55%;
    right: 40%;
    z-index: 10;
    width: 32px;
    height: 32px;
    border-radius: 30px;
    background: #ffffff;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.13);
    cursor: pointer;
  }
  .card_title {
    font-size: large;
  }

  .u_modal_cards_mv {
    width: 100%;
    height: -webkit-fill-available;
    background-color: rgba(0, 0, 0, 0.603);
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
  }
  .save_collection_btn_wrapper_mv {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    background-color: transparent;
    position: absolute;
    bottom: 0px;
    cursor: pointer;
    padding: 0px 20px;
    margin-bottom: 10px;
  }
  .confirmation_wrapper {
    position: absolute;
    bottom: -4rem;
    left: 28%;
    width: 320px;
    height: 68px;
    background-color: #287d3c;
    border-radius: 8px;
    padding: 6px 16px 6px 16px;
    z-index: 30;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .link_copy_wrapper {
    position: absolute;
    bottom: -2rem;
    left: 20%;
    width: 320px;
    height: 48px;
    background-color: #287d3c;
    border-radius: 8px;
    padding: 6px 16px 6px 16px;
    z-index: 30;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .sc_ui_videos_ipro {
    width: 50%;
    height: 40px;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sc_ui_videos_ipro_na {
    width: 50%;
    height: 40px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sc_ux_videos_ipro {
    width: 50%;
    height: 40px;
    background-color: #f4f4f4;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sc_ux_videos_ipro_na {
    width: 50%;
    height: 40px;
    background-color: #ffffff;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.fullSreen {
  position: absolute;
  bottom: 0px;
  width: 100%;
}
@media screen and (min-width: 600px) {
  .modal-dialog modal-fullscreen {
    display: none !important;
  }
}
.btn-close {
  background-image: url("../../assets/images/Close.png") !important;
}
.mv_cards_top_btn {
  display: none;
}
