.videoplayer_container {
  width: 100%;
  height: calc(100vh - 64px);
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.leftaside_wrapper {
  width: 25%;
  height: 100%;
  background-color: #ffffff;
  /* overflow-y: scroll; */
}
.videoplayer_wrapper {
  width: 100%;
  height: 100%;
  background-color: #f4f4f4;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.rightaside_wrapper {
  width: 33%;
  height: 100%;
  background-color: #e5e5e5;
  overflow-y: scroll;
}
.sc_videoplayer_btn_wrapper {
  display: flex;
}
.sc_ux_videos {
  width: 50%;
  height: 40px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sc_ui_videos {
  width: 50%;
  height: 40px;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sc_la_ux_txt {
  font-family: Space Grotesk;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #161618;
}
.sc_la_ui_txt {
  font-family: Space Grotesk;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #505052;
}

.sc_video_time_duration_details {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 0px;
}
.sc_left_aside_time_desc {
  width: 90%;
  min-height: 32px;
  /* background-color: #edf4fe; */
  border-radius: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.sc_la_td_bg {
  background-color: #edf4fe;
}
/* .sc_left_aside_time_desc_1 {
  width: 90%;
  min-height: 32px;
  background-color: #ffffff;
  border-radius: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
} */
.sc_la_time_txt {
  font-family: Space Grotesk;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #505052;
  padding-left: 8px;
}
.sc_la_time_txt_cl {
  color: #5097f3;
}
/* .sc_la_time_txt_1 {
  font-family: Space Grotesk;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #505052;
  padding-left: 8px;
} */

.sc_la_desc_txt {
  font-family: Space Grotesk;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  /* color: #5097f3; */
  padding-left: 16px;
  flex-wrap: wrap;
}
/* 
.sc_la_desc_txt_1 {
  font-family: Space Grotesk;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #505052;
  padding-left: 16px;
  flex-wrap: wrap;
} */
.box_card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px 10px 0px;
}
.right_aside_card_wrapper {
  width: 92%;
  height: auto;
  background-color: #fafafa;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding: 10px 16px;
}
.right_aside_card_inner_items {
  display: flex;
  justify-content: space-between;
}

.right_aside_imgbig {
  display: flex;
}
.right_aside_card_video_details {
  display: flex;
  flex-direction: column;
  padding-left: 16px;
}

.right_aside_card_thumbnail_items {
  padding-top: 9px;
}
.tidal_txt {
  padding-left: 4px;
  font-family: Space Grotesk;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #8a8a8b;
}
.right_aside_video_time_wrapper {
  min-width: 40px;
  max-width: 60px;
  min-height: 22px;
  border-radius: 4px;
  padding-left: 4px;
  background-color: #505052;
  display: flex;
  align-items: center;
  align-self: flex-end;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.ra_card_txt_signup {
  font-family: Space Grotesk;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #0b0b0c;
}
.ra_card_video_time_txt {
  font-family: Space Grotesk;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #ffffff;
}

.react_player_wrapper {
  width: 100%;
  height: calc(100% - 70px);
  position: relative;
}

.react_player_controls_wrapper {
  min-width: 100%;
  height: 5%;
  background-color: #f4f4f4;
  /* background-color: red; */
}
.progress {
  height: 0.5rem !important;
}
.pb_wrapper {
  background-color: #fff !important;
}

.progress-bar {
  background-color: #c5c5c5 !important;
}
.controls_bottom_items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}
.right_controls_items {
  padding: 0px 10px;
  display: flex;
}
.pspeed_img {
  margin-right: 18px;
  width: 60%;
}
/* .pspeed_btn{
  background-color: none !important;
} */

.fscreen_img {
  padding: 0px 10px;
}
.controls_button_styling {
  border: none;
}
.pad_lft{
  padding-left: 6px;
}