.navbar_soundcloud_player {
  width: 100%;
  height: 64px;
  background-color: #ffffff;
  padding: 16px 28px;
}
.navlogo_wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.soundcloudlogo {
  padding-left: 20px;
}
.app_description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 8px;
}
.sc_app_logo_desc_txt {
  font-family: Space Grotesk;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
}
.sc_app_logo_desc_txt_1 {
  font-family: Space Grotesk;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
}
.nav_col_2_adjustment {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav_bf_icons_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 228px;
  height: 38px;
  background-color: #f4f4f4;
  border-radius: 4px;
  padding: 4px;
}
.nav_back_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 31px;
  height: 30px;
  background: #ffffff;
  /* hover state - shadow */

  box-shadow: -2px 2px 20px rgba(0, 0, 0, 0.05),
    2px -2px 20px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}
.nav_forward_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 31px;
  height: 30px;
  background: #ffffff;
  /* hover state - shadow */

  box-shadow: -2px 2px 20px rgba(0, 0, 0, 0.05),
    2px -2px 20px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}
.nav_inner_txt {
  font-family: Space Grotesk;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #0b0b0c;
}
.nav_col_3_adjustment {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.navbar_action_icon_wrapper {
  width: 24px;
  height: 24px;
  background: #ffffff;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 600px){
  .mv_navbar_row_wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .dis_none_mv_navbar {
    display: block;
  }
  .dis_nav_bar {
    display: none;
  }
  .nav_col_3_adjustment {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
  }

  .share_copy {
    width: 193px;
    height: 120px;
    background-color: white;
    position: absolute;
    top: 2rem !important;
    border-radius: 8px;
    left: -7rem !important;
    z-index: 30;
  }
  .mdl_header_navbar{
    display: flex !important;
    flex-direction: row-reverse !important;
    justify-content: flex-end !important;
    align-items: center !important;
  }
  .modal-header .btn-close {
    padding: .5rem .5rem;
    margin:0px 20% 0px 0px !important;
  
}

/* .btn-close {
  box-sizing: content-box;
  width: 2em !important;
  height: 2em !important;
  padding: 0.25em 0.25em;
  color: #000;
  background: transparent url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%23000%27%3e%3cpath d=%27M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z%27/%3e%3c/svg%3e") center/1em auto no-repeat !important;
  border: 0;
  border-radius: 0.25rem;
  opacity: 0.5;
} */
}
@media only screen and (max-width: 600px){
.btn-close{
  background: transparent url("../../assets/soundcloudimages/Back.png") !important;
}
}