.navbar_soundcloud_player {
  width: 100%;
  height: 64px;
  background-color: #FFFFFF;
  padding: 16px 28px;
}
.navlogo_wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.soundcloudlogo {
  padding-left: 20px;
}
.app_description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 8px;
}
.sc_app_logo_desc_txt {
  font-family: Space Grotesk;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
}
.sc_app_logo_desc_txt_1 {
  font-family: Space Grotesk;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
}
.nav_col_2_adjustment {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav_bf_icons_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 228px;
  height: 38px;
  background-color: #f4f4f4;
  border-radius: 4px;
  padding: 4px;
}
.nav_back_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 31px;
  height: 30px;
  background: #ffffff;
  /* hover state - shadow */

  box-shadow: -2px 2px 20px rgba(0, 0, 0, 0.05),
    2px -2px 20px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}
.nav_forward_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 31px;
  height: 30px;
  background: #ffffff;
  /* hover state - shadow */

  box-shadow: -2px 2px 20px rgba(0, 0, 0, 0.05),
    2px -2px 20px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}
.nav_inner_txt {
  font-family: Space Grotesk;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #0b0b0c;
}
.nav_col_3_adjustment{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.navbar_action_icon_wrapper {
  width: 24px;
  height: 24px;
  background: #ffffff;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
