* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.header {
  padding: 10px 16px;
  background: rgba(255, 255, 255, 1);
  color: #f1f1f1;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.07);
}

.sticky + .content {
  padding-top: 102px;
}
.container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.filter_button {
  width: 90px;
  margin-bottom: 8px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #c5c5c5;
  border-color: rgba(197, 197, 197, 1);
  background-color: rgba(255, 255, 255, 1);
  font-family: Space Grotesk;
  font-style: normal;
  display: flex;
  color: #161618;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 11px;
  font-weight: 500;
  padding: 12px 16px 12px 8px;
  line-height: 14px;
  align-items: center !important;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  position: relative;
}
.search_page_appCateg {
  padding: 8px 0px 16px 23px;
  display: flex;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  cursor: pointer;
  align-items: center;
}
.filter_btn :hover {
  background-color: whitesmoke;
}
.filter_btn :active {
  background-color: rgba(197, 197, 197, 1);
}
.filter_btn {
  width: 90px !important;
  height: 40px;
  margin-bottom: 8px;
}

.recent_button {
  margin-left: 1rem;
  width: 190px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #c5c5c5;
  border-color: rgba(197, 197, 197, 1);
  background-color: rgba(255, 255, 255, 1);
  font-family: Space Grotesk;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.icon_down {
  margin-left: 5px;
  font-weight: bold;
}
.icon_filter {
  /* padding-right: 11px; */
}
@media screen and (max-width: 550px) {
  .icon_filter {
    /* margin-right: 2px; */
  }
}
.filter_expand {
  position: absolute;
  width: 714px;
  height: 433px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
  margin-top: -8px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.07);
  overflow-y: scroll;
}
.filter_outer_wrapper {
  max-width: 1300px;
  margin: auto;
}
.App_Page_filter_expand {
  position: absolute;
  width: 714px;
  /* top: 8px; */
  height: 433px;
  border-radius: 8px;

  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.15);
  overflow-y: scroll;
  z-index: 100000;
}
.App_Page_filter_expand_upload {
  width: 714px;
  /* top: 8px; */
  height: 433px;
  border-radius: 8px;

  background-color: rgba(255, 255, 255, 1);

  overflow-y: scroll;
}

.has-search {
  padding: 1rem;
}
.has-search .form-control {
  padding-left: 2.375rem;
  background-image: url("https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/search-24.png");
  background-position: 10px 7px;
  background-repeat: no-repeat;
  cursor: pointer;
}
.Ui_Secreen_has-search {
  padding: 8px 8px 8px 8px;
}
.icon {
  width: 20px;
  height: 20px;
}
.iconH {
  width: 20px;
  height: 20px;
  margin-left: 11px;
}
.Ui_Secreen_has-search .form-control {
  padding-left: 2.375rem;
  background-image: url("https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/search-24.png");
  background-position: 10px 7px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
  background-color: green;
}
.bottom_line {
  width: 95%;
  height: 2px;
  margin: 1rem;
  background-color: #c5c5c5;
}
.bottom_line_upload {
  width: 95px !important;
  height: 2px !important;
  border: 1px solid red;
  /* background-color: #c5c5c5; */
}
.seprator_up {
  border: 1px solid #f4f4f4;
  margin-top: 8px;
}
.app_categories_button {
  display: flex;
  width: 190px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #c5c5c5;
  border-color: rgba(197, 197, 197, 1);
  background-color: whitesmoke;
  font-family: Space Grotesk;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.home_category_text {
  margin-left: 16px;
}
.onHoverArrowww {
  display: none;
}
.home_app_categories_filter_btn:hover .onHoverArrowww {
  display: block;
}
.home_checkbox_counter {
  width: 22px;
  height: 18px;
  border: 10px;
  color: white;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  display: flex;
  margin-left: 8px;
  justify-content: center;
  align-items: center;
  background-color: #5097f3;
}
.Home_app_categories_filter_btn {
  display: flex;
  width: 343px;
  margin-left: 16px;
  /* justify-content: space-between; */
  height: 36px;
  border-radius: 8px;
  font-family: Space Grotesk;
  font-style: normal;
  font-weight: 400;
  cursor: pointer;
  background-color: #fafafa;
  align-items: center;
  padding: 0px 12px 0px 16px;
  font-size: 16px;
  line-height: 20px;
  /* border: 1px solid #f4f4f4; */
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.Home_app_categories_filter_btn:hover {
  background-color: #fafafa;
}
.UiSecreen_app_categories_button {
  display: flex;
  width: 216px;
  margin-left: 7px;
  margin-right: 8px;
  justify-content: space-between;
  height: 36px;
  border-radius: 8px;
  font-family: Space Grotesk;
  font-style: normal;
  font-weight: 400;
  cursor: pointer;

  align-items: center;
  padding: 0px 12px 0px 16px;
  font-size: 16px;
  line-height: 20px;

  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.UiSecreen_app_categories_button_upload {
  display: flex;
  width: 216px;
  margin-left: 7px;
  margin-right: 8px;
  justify-content: space-between;
  height: 36px;
  margin-top: 8px;
  border-radius: 8px;
  font-family: Space Grotesk;
  font-style: normal;
  font-weight: 400;
  cursor: pointer;

  align-items: center;
  padding: 0px 12px 0px 16px;
  font-size: 16px;
  line-height: 20px;

  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.search_filter_opt_wrapper {
  border-right: 1px solid #f4f4f4;
  height: 33vh;
}
.search_filter_opt_wrapper_upload {
  border-right: 1px solid #f4f4f4;
  height: 351px;
}
.UiSecreen_app_categories_button:hover {
  background-color: #fafafa;
  border: 1px solid #f4f4f4;
  font-weight: 500;
}
.UiSecreen_app_categories_button_upload:hover {
  background-color: #fafafa;
  border: 1px solid #f4f4f4;
  font-weight: 500;
}
.search_page_filter_arow {
  display: none;
}
.UiSecreen_app_categories_button:hover .search_page_filter_arow {
  display: block;
}
.UiSecreen_app_categories_button_upload:hover .search_page_filter_arow {
  display: block;
}
.filter_elements_data {
  border-right: 1px solid #f4f4f4;
  /* border-left: 1px solid #f4f4f4; */
  /* margin-left: 2px;s */
  height: 33vh;
  width: 231px;
}
.filter_elements_data_upload {
  border-right: 1px solid #f4f4f4;
  /* border-left: 1px solid #f4f4f4; */
  /* margin-left: 2px;s */
  height: 350px;
  width: 231px;
}
.landing_page_input_wrapper {
  padding: 0px 27px !important;
  border-left: 1px solid #f4f4f4;
  height: 33vh;
  margin-left: 5px;
}
.landing_page_input_wrapper_mobile {
}
.css-1l6di18 .MuiFilledInput-root {
  padding-top: 0px !important;
}
.css-1f9fksr::after {
  border-bottom: none !important;
}
.checkbox_div {
  /* margin-left: 16rem; */

  color: black;
}
.check_box_label {
  font-size: 14px;
  margin-left: 11px;
  font-weight: 400;
  line-height: 18px;
  color: #161618;
}
.MuiAutocomplete-hasPopupIcon.css-1l6di18 .MuiFilledInput-root,
.MuiAutocomplete-hasClearIcon.css-1l6di18 .MuiFilledInput-root {
  background-color: white !important;
}
.css-1f9fksr::before {
  border-bottom: none !important;
}
.Ui_Secreen_filter_checkbox {
  width: 40%;
}
.checkbox_input_icon {
  height: 18px;
  width: 18px;
  color: #161618;
  background: #161618;
}

.label {
  margin-left: 11px;
  font-size: 14px !important;
}
.Mlabel {
  margin-left: 11px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}
.bottom_line2 {
  width: 95%;
  height: 2px;
  margin-right: 1rem;
  margin-top: 5px;
  background-color: #c5c5c5;
}

@media only screen and (max-width: 600px) {
  .filter_expand {
    position: absolute;
    width: 314px;
    height: 433px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 1);
    margin-top: 3rem;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.07);
    overflow-y: scroll;
  }
  .checkbox_div {
    padding: 5px 27px;
    margin-top: 2px;

    color: black;
  }
  .bottom_line {
    width: 90%;
    height: 2px;
    margin: 1rem;
    background-color: #c5c5c5;
  }
  .filter_button {
    margin-left: 0rem;
    width: 93px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #c5c5c5;
    border-color: rgba(197, 197, 197, 1);
    background-color: rgba(255, 255, 255, 1);
    font-family: Space Grotesk;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    position: relative;
  }
  .recent_button {
    margin-left: 0.5rem;
    width: 180px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #c5c5c5;
    border-color: rgba(197, 197, 197, 1);
    background-color: rgba(255, 255, 255, 1);
    font-family: Space Grotesk;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
@media only screen and (min-width: 600px) and (max-width: 992px) {
  .filter_expand {
    position: absolute;
    width: 514px;
    height: 433px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 1);
    margin-top: 3rem;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.07);
    overflow-y: scroll;
  }
}
.filter_count {
  width: 25px;
  color: white;
  background-color: #5097f3;
  border-radius: 8px;
  padding: 1px;
  text-align: center;
  margin-left: 16px;
}
.app_page_checkbox_with_search {
  padding: 0px 16px 0px 16px;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}
.search_result_wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0px 16px 16px 16px;
}
.all_result {
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  color: #505052;
}
.clear_result {
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  color: #161618;
  cursor: pointer;
}
.element_tag_show {
  width: 54px;
  height: 14px;
  color: white;
  font-size: 12px;
  line-height: 14px;
  padding: 2px 8px 2px 8px;
  border-radius: 8px;

  background-color: #5097f3;
}
.Melement_tag_show {
  width: 54px;
  height: 14px;
  color: white;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  padding: 2px 8px 2px 8px;
  border-radius: 8px;
  margin-left: 20px;

  background-color: #5097f3;
}
.filter_count_app_card {
  background-color: #5097f3;
  width: 24px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 12px;
  margin-left: 11px;
  border-radius: 8px;
}
.each_filter_count {
  color: white;
  background-color: #5097f3;
  width: 22px;
  height: 18px;
  border-radius: 10px;
  text-align: center;
  margin-left: 16px;
}
.fillter_box {
  margin-top: 8px;
}
.search_icon_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 14px;
}
.appPage_checkbox_div {
  padding-left: 10px;
  display: flex;
  align-items: center;
  margin-top: 18px;
}
.appPage_checkbox_div_upload {
  padding-left: 10px;
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.filter_input_element {
  width: 98%;
  margin: auto;
  border-radius: 8px;
  border: 2px solid #c5c5c5;
  background-color: white;
  /* background-color: red; */
  min-height: 56px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.filter_screen_name {
  padding: 0px 16px 0px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
}
.filter_input_element_upload {
  width: 75%;
  margin: auto;
  border-radius: 8px;
  border: 2px solid #c5c5c5;
  background-color: white;
  /* background-color: red; */
  height: 56px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.search_element {
  height: 20px;
  padding-left: 5px;
}
.css-16awh2u-MuiAutocomplete-root .MuiFilledInput-root {
  padding-top: 0px !important;
  overflow: hidden;
}
.css-1gctnaj-MuiInputBase-input-MuiFilledInput-input {
  border-radius: 8px;
}
.css-16awh2u-MuiAutocomplete-root .MuiAutocomplete-input {
  background-color: white !important;
  height: 40px !important;
}
.css-1w8yruj-MuiInputBase-root-MuiFilledInput-root:before {
  border-bottom: none !important;
}
.css-1w8yruj-MuiInputBase-root-MuiFilledInput-root:after {
  border-bottom: none !important;
}
.css-i4bv87-MuiSvgIcon-root {
  display: none;
}
.MuiAutocomplete-hasPopupIcon.css-16awh2u-MuiAutocomplete-root
  .MuiFilledInput-root,
.MuiAutocomplete-hasClearIcon.css-16awh2u-MuiAutocomplete-root
  .MuiFilledInput-root {
  background-color: #ffffff !important;
}
@media screen and (max-width: 800px) {
  .App_Page_filter_expand {
    position: absolute;
    width: 600px;

    height: 433px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.07);
    overflow-y: scroll;
    z-index: 100000;
  }
}
@media screen and (max-width: 625px) {
  .App_Page_filter_expand {
    position: absolute;
    width: 500px;

    height: 433px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.07);
    overflow-y: scroll;
    z-index: 100000;
  }
}
@media screen and (max-width: 768px) {
  .App_Page_filter_expand_upload {
    width: 100%;
    /* top: 8px; */
    height: 433px;
    border-radius: 8px;

    background-color: rgba(255, 255, 255, 1);
    padding: 0px 5px;
    overflow-y: scroll;
  }
}
