.mobile_View_Filter_section {
  display: flex;
  justify-content: space-between;
  padding: 20px 16px 0px 16px;
}
@media screen and (min-width: 550px) {
  .mobile_View_Filter_section {
    display: none;
  }
}
/* const OpenAddcollectionModal = (Pindex, Cindex) => {
  let array = [...FeatureArray]
  let flagObj = { ...array[Pindex].values[Cindex] }
  array[Pindex].values[Cindex] = { ...flagObj, flag: !flagObj.flag }
  // array[Pindex].values[Cindex] = { ...array[Pindex].values[Cindex], flag: !array[Pindex].values[Cindex].flag }
  console.log("index===22222", araay)
  // setCollectBox()
} */
