*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }
  .header-section{
      display: flex;
      justify-content: space-between;
   margin: 1rem;
    background-color: #FFFFFF;
  }
  .logo_div{
      display: flex;
      flex-direction: row;
  }
  .button_1{
      margin-left: 1rem;
      width: 80px;
      height: 40px;
      border-radius: 24px;
      border: 1px solid #C5C5C5;
      border-color: rgba(197, 197, 197, 1);
      background-color: rgba(255, 255, 255, 1);
      font-family: Space Grotesk;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.02em;
    text-transform: capitalize;

  }
  .button_2{
    margin-left: 1rem;
    width: 80px;
    height: 40px;
    border-radius: 24px;
    border: none;
    background-color: rgba(80, 151, 243, 1);
    color: rgba(255, 255, 255, 1);
    font-family: Space Grotesk;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.dis-mob{
  display:none;
}
@media only screen and (max-width: 600px){
    
  .dis {
    display: none;
}
.dis-mob{
  display:block;
}
.mob_logo{
  display: flex;
  flex-direction: row;
}
.navbar-brand{
  margin-right: 6rem !important;
}
.mob_buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}



}