body {
  font-family: "Space Grotesk";
}
@font-face {
  font-family: "Space Grotesk Medium";
  font-style: normal;
  font-weight: normal;
  src: local("Space Grotesk Regular"),
    url("../src/assets/fonts/SpaceGrotesk-Medium.woff") format("woff");
}

code {
  font-family: "Space Grotesk";
}
